* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}
.navbar {
  max-width: 100%;
  background-color: antiquewhite;
}
.nav {
  display: flex;
  text-align: center;
  justify-content: center;
}
.nav a {
  font-size: 22px;
  padding: 19px;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
}
.about-img img {
  max-width: 100%;
}
.about-img h1 {
  display: flex;
  color: white;
  font-size: 75px;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
}
.banner img {
  object-fit: cover;
  object-position: center bottom;
  height: auto;
  display: block;
  max-width: 100%;
}
.banner {
  height: 500px;
  overflow: hidden;
}

/* .mix-heading {
  position: absolute;
  top: 197px;
  left: 460px;
} */
.mix-heading {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about-img h4 {
  display: flex;
  color: white;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.about-img button {
  display: flex;
  background-color: #f3f25b;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  padding: 4px 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  font-weight: 550;
  cursor: pointer;
  position: relative;
  margin: 0 auto;
  margin-top: 15px;
}
.succs {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
  font-size: 26px;
  font-family: Source Serif Pro;
}
.succs img {
  padding-top: 10px;
}
.Developing {
  padding-top: 60px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.heading1 {
  padding-top: 40px;
}
.heading1 h1 {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
}
.heading1 p {
  font-size: 20px;
  font-family: Lato;
  padding-top: 20px;
  margin-bottom: 30px;
  opacity: 0.6;
}
.line {
  width: 63%;
  color: #f3f25b;
  height: 5px;
  background-color: #f3f25b;
  border: none;
  /* padding-top: 10px; */
}
.heading1 button {
  font-size: 22px;
  padding: 8px 50px;
  background-color: #f3f25b;
  border-radius: 10px;
  border: none;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
}
.heading1 i {
  position: absolute;
  top: 1080px;
  left: 130px;
  color: rgb(221, 139, 32);
  font-size: 25px;
  cursor: pointer;
}
.heading1 i:hover {
  color: aqua;
  font-size: 30px;
}

.gool {
  height: 60px;
  width: 60px;
  border: 2px solid black;
  border-radius: 40px;
  background-color: white;
  border: none;
  position: relative;
  display: flex;
  top: -35px;
  left: 184px;
}

.victar-img {
  position: relative;
  max-width: 100%;
}
.victar-img .photo img {
 max-width: 100%;
}
.victar-img .photo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 450px;
  width: 450px;
}

.enjoy {
  padding-top: 80px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.injoy-img {
  position: relative;
}
.photo2 img {
  position: relative;
}
.photo2 img {
  max-width: 100%;
}
.photo2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 450px;
  width: 450px;
}
.head {
  position: relative;
}

.heading2 {
  justify-content: end;
  text-align: end;
  padding-top: 60px;
}
.heading2 h1 {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
}
.heading2 p {
  font-size: 20px;
  font-family: Lato;
  padding-top: 20px;
  margin-bottom: 30px;
  opacity: 0.6;
}

.line2 {
  width: 69%;
  color: #f3f25b;
  height: 5px;
  background-color: #f3f25b;
  border: none;
  position: absolute;
  display: flex;
  right: 0;
  bottom: -12px;
}
.heading2 button {
  padding: 8px 50px;
  background-color: #f3f25b;
  border-radius: 10px;
  border: none;
  font-size: 22px;
  font-weight: 500;
}

.heading3 {
  padding-top: 90px;
}
.heading3 h1 {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
}
.heading3 p {
  font-size: 20px;
  font-family: Lato;
  padding-top: 20px;
  margin-bottom: 30px;
  opacity: 0.6;
}
.line {
  width: 63%;
  color: #f3f25b;
  height: 5px;
  background-color: #f3f25b;
  border: none;
  /* padding-top: 10px; */
}
.heading3 button {
  font-size: 22px;
  padding: 8px 50px;
  background-color: #f3f25b;
  border-radius: 10px;
  border: none;
  font-size: 22px;
  font-weight: 500;
}
.gool {
  height: 60px;
  width: 60px;
  border: 2px solid black;
  border-radius: 40px;
  background-color: white;
  border: none;
  position: relative;
  display: flex;
  top: -35px;
  left: 184px;
}

.last-card {
  display: flex;
  justify-content: space-evenly;
  padding-top: 60px;
  flex-wrap: wrap;
}
.victar1-img {
  position: relative;
}

.victar-img {
  position: relative;
}
.victar1-img .photo3 img {
  max-width: 100%;
}
.victar1-img .photo3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 450px;
  width: 450px;
  max-width: 100%;
}

.new-h1 {
  text-align: center;
  justify-content: center;
  padding-top: 80px;
  font-family: Source Serif Pro;
  font-size: 30px;
}
.new-h1 img {
  flex-direction: column;
  padding-top: 20px;
}
.rdimg {
  justify-content: space-evenly;
  display: flex;
  padding-top: 70px;
  flex-wrap: wrap;
}

.first {
  position: relative;
  bottom: 52px;
  left: 5px;
}
.john {
  position: relative;
  bottom: 77px;
  left: 28px;
}
.john-boy img {
  max-width: 100%;
}

.lady {
  position: relative;
  top: 120px;
  left: 70px;
}

.second img {
  position: relative;
  left: 44px;
  top: 46px;
  height: 150px;
}

.Miss {
  position: relative;
  left: 76px;
  bottom: 49px;
}

.third {
  position: relative;
  bottom: 51px;
}

.third .John2 {
  position: absolute;
  bottom: 43px;
  left: 38px;
}

.endd {
  padding-top: 50px;
  justify-content: center;
  text-align: center;
}
.endd h1 {
  font-size: 50px;
  margin-bottom: 10px;
}
.lasst {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  flex-wrap: wrap;
  margin-bottom: 150px;
}
.cardd1 h1 {
  font-family: "Montserrat", sans-serif;
  padding-top: 10px;
  display: block;
  font-size: 28px;
}
.cardd1 p {
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  opacity: 0.9;
  padding-top: 10px;
}
.cardd2 {
  padding-top: 25px;
  position: relative;
}
.cardd2 h1 {
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 29px;
}
.cardd2 p {
  font-size: 18px;
  padding-top: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  opacity: 0.9;
}
.cardd3 h1 {
  padding-top: 14px;
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
}
.cardd3 p {
  font-size: 18px;
  padding-top: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  opacity: 0.9;
}
.Miss .heading{
    position: relative;
    padding: 10px;
}
.Miss .heading::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url("../image/Vector 159.png") no-repeat center / contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.Miss .heading {
    height: 155px;
    z-index: 2;
    left: -89px;
    top: 93px;
    padding: 39px;
    padding-left: 89px;
    padding-top: 56px;
}

.end-line {
  height: 10px;
  width: 100%;
  background-color: #f3f25b;
  display: flex;
  position: absolute;
  top: 4050px;
}


@media (max-width: 1080px) {
    .lady {
        position: relative;
        top: 119px;
        left: 16px;
    }
}

 @media (max-width: 967px) {
  .Developing {
    padding-top: 60px;
    display: flex;
    margin: 15px;
}
.heading1 h1 {
  font-size: 30px;
}
.heading1 p {
  font-size: 16px;
}
.victar-img .photo img {
  max-width: 100%;
}
.enjoy {
  display: flex;
  margin: 15px;
}
.heading2 h1 {
  font-size: 28px;
}
.heading2 p {
  font-size: 17px;

}
.photo2 img {
  max-width: 100%;
}
.heading3 h1 {
  font-size: 30px;  
}
.heading3 p {
  font-size: 18px;
}
.last-card {
  display: flex;
  margin: 15px;
}
}

@media (max-width: 768px) {
  .heading1 {
    padding-top: 0;
    text-align: center;
}
.heading1 p {
  font-size: 24px;
}
.victar-img {
  padding-top: 40px;
}
  .line {
    width: 100%;
  }
  .heading1 h1 {
    font-size: 48px;
    text-align: center;
}
.enjoy {
  padding-top: 40px;
}
.heading2 {
  text-align: center;
}
.line2 {
  width: 100%;
}
.heading2 h1 {
  font-size: 40px;
}
.heading2 p {
  font-size: 24px;
}
.heading3 {
  padding-top: 0;
  text-align: center;
}
.heading3 h1 {
  font-size: 40px;
}
.heading3 p {
  font-size: 24px;
}
.last-card {
  padding-top: 10px;
}
.victar1-img {
  padding-top: 30px;
}

.rdimg {
  justify-content: center;
  align-items: center;
  display: flex ;
  padding-top: 70px;
  flex-wrap: wrap;
}

.rd-img {
  position: relative;
  top: -568px;
  left: 220px;
}
.nd-img {
  position: relative;
  top: 400px;
}
.second {
  position: relative;
  right: 140px;
}
.lady {
  top: 122px;
  left: -69px;
  max-width: 100%;
}

}

@media (max-width: 737px) {
  .rd-img {
      position: relative;
      top: -667px;
      left: 0;
  }

}


@media (max-width: 480px) {

  .about-img h1 {
    font-size: 33px;
  }
  .about-img h4 {
 font-size: 15px;
  }
  .about-img button {
   max-width: 100%;
    position: absolute;
    left: 140px;
  }
  .lady {
    position: relative;
    left: 0;
    top: 0;
    height: 302px;
  }
  .victar-img {
    margin-bottom: 30px;
}
  .victar-img .photo{
   max-width: 100%;
  }
  .victar-img .photo2 {
    height: 100%;
    width: 100%;
  }
  .victar-img .photo3 {
   max-width: 100%;
  }
 .succs {
    font-size: 19px;
    padding-top: 20px;
}
  .banner {
    height: 306px;
  }
  .Developing{
    padding-top: 0;
  }
  .heading2 h1 {
    font-size: 28px;
}
  .heading1 p {
    font-size: 18px;
}
.heading2 p {
  font-size: 18px;
}
.heading3 p {
  font-size: 18px;
}
  .injoy-img {
    position: relative;
    top: -45px;
}
.rd-img {
  top: -479px;
}
.nd-img {
  position: relative;
  top: 475px;
}
.second {
  right: 8px;
  top: 0px;
  max-width: 100%;
}
.victar-img{
    position: relative;
    top: 22px;
}
.heading2 {
    position: relative;
    padding-top: 0;
}
.heading2 h1 {
    font-size: 28px;
}
.heading3{
    padding-top: 0;
}
.heading3 h1 {
    font-size: 31px;
}
.victar1-img {
    position: relative;
    padding-top: 22px;
}
.new-h1 {
    padding-top: 10px;
}
.rdimg {
    padding-top: 20px;
}
.Miss .heading {
    height: 127px;
    z-index: 2;
    left: -113px;
    top: -10px;
    padding: 39px;
}
.cardd1 p {
  margin-bottom: 20px;
}
.cardd2 p {
  margin-bottom: 20px;
}
.cardd3 p {
  margin-bottom: 20px;
}
.heading1 h1 {
  font-size: 28px;
}
.succs-heading h1 {
  font-size: 28px;
}
}

@media (max-width: 424px) {
  .victar-img img {
    max-width: 100%;
  }
  
    .victar-img .photo img {
        max-width: 100%;
        position: absolute;
        top: 38px;
    }
.injoy-img img {
  max-width: 100%;
}
.photo2 {
  max-width: 100%;
}
 .photo2 img {
        max-width: 100%;
        position: absolute;
        top: 38px;
}
.victar1-img img {
  max-width: 100%;
}
.photo3 img {
  max-width: 100%;
  position: absolute;
  top: 29px;
}
.Miss {
  left: 0;
}
.Miss .heading {
  height: 110px;
  left: -30px;
  top: -6px;
  font-size: 26px;
}
.about-img h4 {
  font-size: 12px;
}
.about-img button {
  max-width: 100%;
  position: absolute;
  left: 116px;
  font-size: 18px;
}
.heading1 p {
  font-size: 16px;
}
.succs-heading h1 {
  font-size: 24px;
}
.heading2 h1 {
  font-size: 24px;
}
.heading2 p {
  font-size: 16px;
}
.heading3 h1 {
  font-size: 20px;
}
.heading3 p {
  font-size: 13px;
}
.endd {
  padding-top: 0;
}
.heading1 h1 {
  font-size: 20px;
}
.succs-heading h1 {
  font-size: 20px;
  padding-top: 0;
}
.heading1 p {
  font-size: 13px;
}
.heading1 button {
  padding: 6px 22px;
  font-size: 18px;
}
.heading2 h1 {
  font-size: 20px;
}
.heading2 p {
  font-size: 14px;
  padding-top: 15px;
}
.heading2 button {
  padding: 6px 22px;
  font-size: 18px;
}
.heading3 button{
  padding: 6px 22px;
  font-size: 18px; 
}
.cardd3 h1 {
  padding-top: 12px;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}
}

@media (max-width:360px) {
  .victar-img img{
    max-width: 100%;
}
.injoy-img img {
  max-width: 100%;
}
.photo2 {
  width: 450px;
  max-width: 100%;
}
.victar1-img img{
  max-width: 100%;
}
.victar1-img .photo3 {
  width: 450px;
  max-width: 100%;
}

.Miss .heading {
  max-width: 100%;
}
.Miss {
  max-width: 100%;
  left: 0;
}
.Miss .heading {
  max-width: 100%;
  left: -1px;
}
.about-img h4 {
  font-size: 11px;
}
.nav a {
  font-size: 14px;
}
.about-img button {
  left: 21px;
  font-size: 6px;
}
.about-img h4 {
  font-size: 5px;
}
.about-img h1 {
  font-size: 22px;
}
.banner {
  height: 245px;
}
.succs-heading h1 {
  font-size: 20px;
}
.heading1 h1 {
  font-size: 20px;
}
.heading1 p {
  font-size: 13px;
}
.heading2 h1 {
  font-size: 20px;
}
.heading2 p {
  font-size: 13px;
}
.heading3 h1 {
  font-size: 20px;
}
.heading3 p {
  font-size: 13px;
}
.mix-heading {
  max-width: 100%;
}
.mix-heading {
  position: absolute;
  content: "";
   width: 50%; 
    height: 50%; 
  top: 268px; 
  left: 50%;
  transform: translate(-50%, -50%);
}
.heading1 button {
  padding: 8px 20px;
  font-size: 13px;
}
.heading2 button {
  padding: 8px 20px;
  font-size: 14px;
}
.heading3 button {
  padding: 8px 20px;
  font-size: 13px;
}
.cardd3 h1 {
  font-size: 23px;
}
}
